.top {
    padding: 96px 0 60px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 10px;
}

.title {
    max-width: 630px;
    font-family: "LT Superior";
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -0.06em;
}

.title span {
    font-family: "Baskerville";
    font-style: italic;
}


.img {
    margin-top: 7px;
    border-radius: 4px;
    width: 100%;
}

@media (max-width:768px) {
    .top {
        padding: 70px 0 30px;
    }

    .brackets {
        display: none;
    }

    .title {
        font-size: 28px;
        max-width: 550px;
    }

    .img {
        margin-top: 10px;
    }
}

@media (max-width:480px) {
    .title {
        max-width: 270px;
        font-size: 24px;
        text-transform: lowercase;
        word-spacing: 0;
    }

    .title span {
        text-transform: uppercase;
    }
}