.products {
    margin-top: 50px;
    display: flex;
    gap: 30px 10px;
}


@media (max-width:768px) {
    .last {
        display: none;
    }
}

@media (max-width:480px) {
    .products {
        flex-direction: column;
    }
}