.products {
    padding-bottom: 61px;
}


.inner {
    border-top: 1px solid var(--gray);
    padding-top: 11px;
}

.top {
    text-align: center;
    display: block;
    margin-bottom: 50px;
}

.button {
    margin: 100px auto 0;
}


@media (max-width:768px) {
    .products {
        padding-bottom: 30px;
    }

    .top {
        text-align: start;
    }

    .button {
        margin-top: 50px;
    }
}