.section {
    padding: 50px 0;
    background: url(../assets/background.png) no-repeat center / cover;
}

.inner {
    min-height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.box {
    width: 100%;
    max-width: 540px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 4px;
    display: flex;
    gap: 0 20px;
    justify-content: space-between;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.text {
    max-width: 171px;
    font-size: 12px;
    margin-top: 15px;
}

.button {
    margin-top: auto;
}

.img {
    border-radius: 4px;
}

.link {
    display: none;
}


@media (max-width:768px) {
    .section {
        background: url(../assets/background-2.png) no-repeat center / cover;
        padding: 71px 0 29px;
    }

    .inner {
        min-height: 500px;
    }
}

@media (max-width:480px) {
    .img {
        display: none;
    }
    
    .link {
        display: block;
        position: absolute;
        fill: var(--primary-color);
        top: 10px;
        right: 10px;
    }

    .button {
        margin-top: 31px;
    }
}