

.items {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item_name {
    color: var(--secondary-color);
    font-family: 'LT Superior';
}


.flex {
    display: flex;
    gap: 0 20px;
}

.value {
    color: var(--primary-color);
}

.telephone {
    margin-top: 25px;
    padding: 10px 0 50px;
    border-top: 1px solid #EBEBEB;
}

.value_b {
    font-size: 32px;
    color: var(--primary-color);
}

.value_b span {
    display: none;
}

.mail {
    padding-top: 10px;
    border-top: 1px solid #EBEBEB;
}

@media (max-width:1000px) {
    .contacts {
        margin-bottom: 40px;
    }

}

@media (max-width:768px) {
    .value_b {
        font-size: 28px;
    }
}

@media (max-width:480px) {
    .items {
        margin-top: 50px;
        gap: 10px 0;
    }

    .item {
        gap: 15px 0;
    }
    .item:first-child {
        margin-bottom: 20px;
    }

    .telephone {
        margin-top: 0;
        padding-bottom: 10px;
        gap: 30px 0;
    }

    .mail {
        gap: 40px 0;
    }

    .value_b {
        text-transform: uppercase;
        font-size: 18px;
    }
}