.top {
    min-height: calc(100dvh - 34px);
    background: url(../assets/background.png) no-repeat center / cover;
    padding: 62px 0 30px;
    display: flex;
    flex-direction: column;
}

.inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px 0;
}

.title {
    max-width: 678px;
    font-family: "LT Superior";
    font-size: 55px;
    color: var(--white-2);
}

.title span {
    font-family: "Baskerville";
    font-style: italic;
    font-size: 57px;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px 20px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

.text {
    max-width: 399px;
    color: var(--white-2);
}


.navigation {
    display: flex;
    gap: 0 10px;
}

.box {
    width: 170px;
    height: 170px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    font-size: 12px;
}

.box.opacity {
    background-color: transparent;
    position: relative;
    z-index: 1;
    color: var(--white);
}

.box.opacity::after {
    content: '';
    backdrop-filter: blur(20px);
    background: rgba(249, 248, 245, 0.22);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 4px;
}

.button_arrow {
    align-self: flex-end;
}


@media (max-width:768px) {

    .title {
        color: var(--primary-color);
        max-width: 490px;
        font-size: 40px;
    }

    .title span {
        font-size: 42px;
    }

    .top {
        background-image: none;
        padding: 70px 0 10px;
        min-height: auto;
    }

    .wrapper {
        min-height: 450px;
        flex-direction: column;
        align-items: flex-start;
        background: url(../assets/background.png) no-repeat center / cover;
        padding: 0 10px 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}


@media (max-width:480px) {

    .title {
        max-width: 290px;
        color: var(--primary-color);
        font-size: 24px;
    }

    .title span {
        font-size: 25px;
    }

    .text {
        max-width: 263px;
        color: var(--gray-3);
    }

    .text span {
        display: none;
    }

    .text .mobile_text {
        display: inline;
    }

    .navigation {
        width: 100%;
    }

    .box {
        max-width: 100%;
        flex-grow: 1;
    }
}